@import '../../styles/_colors.scss';


.weight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $blueThird;
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;

    span {
        font-size: 42px;

        & + span {
            font-size: 21px;
        }
    }
}
