$blue: #1698D9;
$white: #FFFFFF;
$grey: #666666;
$greySecond: #B3B3B3 ;
$blueSecond: #22A7E9;
$blueThird: #2EA8E6;
$black: #000000;
$red: #D91667;
$redSecond: #E62E7A;
$whiteSecond: #F2F2F2;
$yellow: #FFFF66;